!!! 5
html.no-js(lang='en')
    head
        meta(charset='utf-8' )
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title UI
        link(rel='stylesheet', href='/stylesheets/app.css')
        script(src='javascripts/vendor.js')
        script(src='javascripts/app.js')
        script
            require('initialize');
    body
        script
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));